.container{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    background-image: linear-gradient(180deg,purple, orange, rgb(100, 245, 120));
}
nav{
width: 100%;
padding: 10px 0;
z-index: 12;
float: right;
background-color: rgb(100, 245, 120);
color: black;
font-weight: 900;
}
.logo img{
    height: 100px;
    width: 100px;
    margin-left: 5px;
}
.menu{
    background: rgb(100, 245, 120);
    display: flex;
}
.menu ul li{
    display: inline-flex;
    padding-right: 20px;
    justify-content: space-between;
    font-size: medium;
    margin-top: 20px;
}
.menu ul li a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
    }
    .txt2{
        float:right;
        text-align: center;
        font-style: italic;
        margin-top: 100px;
        font-size: 20px;
        padding-right: 25px;
    }
    .img1 img{
        width: 1500px;
        height:600px;
    }
    .content1{
        display: flex;
        flex-direction: row;
    }
.content1 img{
    width: 400px;
    height: 400px;
    padding-right: 25px;
}
.content1 p{
    font-weight: 900;
    font-size: medium;
    text-align: center;
}

#header-image{
    width: 80%;
}

h2{
    margin-left: 20px;
}

#img{
    width: 268px;
    height: 300px;
    margin-left: 3px;
   
}

.box1 ,.box2,.box3,.box4{
    border: #000 solid;
    box-shadow: 10px 10px 5px  grey;
    width: 22%;
    margin: 10px;
}

#delivery-icon{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

h3{
    color:#f1f1f1;
}

.category {
    display:inline-flex;
    padding-right: 20px;
    justify-content: space-between;
    padding-left: 100px;
    border: 2px black;
}
/*.category ul li a{
    text-decoration: none;
    color: #000;
    font-size: 30px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
    border: 10px 10px solid black;
    border-style: solid;}*/


    .dropbtn {
        background-color: #04AA6D;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        margin-left: 20px;
      }

      .dropdown {
        position: relative;
        display: inline-block;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {background-color: #ddd;}
      
      /* Show the dropdown menu on hover */
     .dropdown:hover .dropdown-content {display: block;}
      
      /* Change the background color of the dropdown button when the dropdown content is shown */
      .dropdown:hover .dropbtn {background-color: #3e8e41;}
      .btn{
          background-color: #04AA6D;
          color: white;
          padding: 16px;
          border: none;
      }
     .drp-down{
          position: relative;
          display: inline-block;
      }
      .drp-content{
          display: none;
          position: absolute;
          background-color: #f1f1f1;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
      }
      .drp-content a{
          color: #000;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
      }
      .drp-content a:hover {
          background-color: #ddd;
      }
      .drp-down:hover .drp-content {
          display: block;
      }
      .drp-down:hover .btn{
          background-color: #3e8e41;
      }
    